<!-- MAIN MENU -->
<div class="header" align="center">
  <!-- -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">PROYECTO FINAL FISICA III</a>
        <!-- <a class="navbar-brand" href="/fisica/authors">PROYECTO FINAL FISICA III</a> -->
      </div>
      <ul class="nav navbar-nav">
        <li><a onclick="location.href='/fisica/index'">Interacciones entre cargas</a></li>
        <li><a onclick="location.href='/fisica/campoelectrico'">Campo electrico debido cargas en linea infinita</a></li>
        <li><a onclick="location.href='/fisica/magnetico'">Campo magnético</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- END MENU -->
<!-- AUTHORS INFORMATION -->
<div class="page-header">
  <h1><small>PRESENTACION DEL PROYECTO FINAL DE FISICA III</small></h1>
</div>
<!-- VIDEO -->
<div class="video">
  <div align="center"><h4>REALIZACION Y PRESENTACION DEL PROYECTO FINAL</h4></div>
  <div align="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/dST_xOvhhs8" frameborder="4" allowfullscreen></iframe></div>
  <p></p>
</div>
